* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

:root {
    --primary-color: #009f4d;
    --secondary-color: #213364;
    --font-color: #666;
    --bg-color: #fff;
    --heading-color: #3f3a64;
    --bg-grey: #f7f7f7;
    --bg-lightgrey: #f8f9fa;
    --layer: rgba(29, 42, 55, 0.7);
    --border-color: transparent;
}

html {}

.container {
    width: 100%;
    padding: 0 15px;
}

.active {
    display: block;
}

.dark-mode {
    --font-color: #c2c2c2;
    --bg-color: #151421;
    --heading-color: #eee;
    --border-color: rgba(255, 255, 255, 0.2);
}

.freeze {
    height: 100vh;
    overflow: hidden;
}

/* Header  */
header.nav-fixed {
    padding: 0;
    background-color: var(--bg-color);
    height: 80px;
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}

.nav-fixed .navbar-brand {
    color: var(--heading-color);
}

.nav-fixed .nav-item .nav-link,
.nav-fixed .nav-item .nav-link.show {
    color: var(--heading-color);
    opacity: 0.7;
}

.nav-fixed .nav-item .nav-link:focus {
    color: var(--heading-color);
    opacity: 0.9;
}

.nav-fixed .nav-item .nav-link.active {
    color: var(--primary-color);
    opacity: 0.9;
}

.nav-fixed .nav-item .nav-link:hover:not(.nav-link.active) {
    color: var(--heading-color);
    opacity: 0.9;
}

.nav-fixed .theme-mode .mode-btn i {
    color: var(--heading-color);
}

.main-header {
    display: grid;
    height: 100px;
    align-items: center;
    border-bottom: 1px solid rgba(231, 231, 231, 0.18);
    transition: all 0.4s ease 0s;
}

.navbar-brand {
    font-size: 30px;
    padding: 0;
    font-weight: 600;
    color: #fff;
}

.logo-icon {
    vertical-align: bottom;
    font-size: 30px;
    color: var(--primary-color);
}

.slogan {
    font-size: 14px;
    padding-left: 46px;

}

.nav-item {
    padding: 0 10px;
}

.nav-item .nav-link {
    font-size: 15px;
    padding: 14px 0 10px !important;
    font-weight: 600;
    transition: all 0.5s ease;
}

.dropdown-toggle::after {
    position: absolute;
    content: "\f107";
    font: normal normal normal 14px/1 FontAwesome;
    border: none;
    top: 18px;
    font-size: 12px;
}

.nav-item.dropdown {
    padding-right: 25px;
}

.dropdown-menu {
    min-width: 12rem;
    padding: 1rem 0;
    transform: translateX(-50px);
    border-radius: 8px;
    position: relative;
    z-index: 1000;
    background: var(--bg-color);
}

.dropdown-menu::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background: var(--bg-color);
    top: -6px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-right: none;
    border-bottom: none;
    z-index: 1001;
}

.dropdown-item {
    padding: 6px 20px;
    color: var(--heading-color);
    font-size: 15px;
    font-weight: 600;
    background: var(--bg-color);
    opacity: 0.8;
    text-transform: uppercase;
}

.header-search .search-btn {
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: #fff;
    transform-origin: 50%;
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.header-search .search-btn .icon-material-search {
    line-height: 45px;
    transition: opacity 0.3s ease-in-out;
}

.mode-btn i.gg-sun {
    display: none;
}

.mode-btn i.gg-moon {
    display: block;
}

.mode-btn {
    width: 24px;
    height: 24px;
}

/* Navbars Collapsed */
.main-header .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    padding: 0;
    background-color: var(--primary-color);
    border-radius: 4px;
}

.main-header .navbar-toggler[aria-expanded=false] .icon-close {
    display: none;
}


.main-header .navbar-toggler[aria-expanded=true] .icon-expand {
    display: none;
}

.main-header .navbar-toggler:focus {
    outline: 0;
    box-shadow: none;
}

.main-header .navbar-toggler-icon {
    background-image: none;
    width: 34px;
    height: 34px;
}

.main-header.active:not(.main-header.nav-fixed) {
    background: rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 991px) {
    header.main-header {
        height: auto;
        padding: 20px 0;
    }

    .header-search {
        position: absolute;
        right: 65px;
        top: 10px;
    }

    .navbar-collapse {
        max-height: calc(100vh - 80px);
        overflow-y: scroll; 
    }

    .header-search .search-btn i {
        line-height: 40px;
        text-align: center;
        width: 40px;
        height: 40px;
        font-size: 14px;
    }

    .theme-mode {
        position: absolute;
        right: 44px;
        top: 18px;
    }

    .dropdown-menu {
        transform: none;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);

    }

    .dropdown-menu::after {
        top: 43px;
    }

    .dropdown-item {
        text-align: center;
        color: var(--font-color);
    }

    body.search-active .search-wrap{
        position: relative;
    }
}

.navbar-collapse.show .nav-link {
    text-align: center;
}

.navbar-toggler-icon.fa {
    font-size: 20px;
    color: #fff;
    line-height: 34px;
}

/* Search Active */

body.search-active .search-btn {
    transform: scale(70);
    right: 0;
    position: absolute;
}

body.search-active .search-btn .icon-material-search {
    opacity: 0;
}

body.search-active .header-search .icon-close {
    opacity: 1;
    transform: rotate(-90deg);
}

body.search-active .search-wrap {
    height: 100vh;
    display: flex;
    align-items: center;
    opacity: 1;
    transform: none;
}

body.search-active .search-input {
    width: 100%;
    font-size: 54px;
    border: 0;
    background: transparent;
    color: #fff !important;
    outline: 0;
    font-weight: 200;
    opacity: 1;

}

body.search-active .search-input::placeholder {
    color: #fff;
}

.header-search .icon-close {
    position: absolute;
    color: #FFF;
    cursor: pointer;
    font-size: 70px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.search-wrap {
    position: absolute;
    top: 50%;
    left: 50px;
    margin-top: -40px;
    opacity: 0;
    transform: translate(40px, 0);
    transition: all 0.3s ease-in-out;
    width: 88%;
}

.search-input {
    opacity: 0;
}

/* Banner  */
.banner-wrap {
    height: auto;
    overflow: hidden;
    position: relative;
}

.banner .slick-arrow {
    position: absolute;
    right: 25px;
    bottom: 50px;
    font-size: 0;
    background: var(--bg-color);
    border: 0;
    width: 50px;
    height: 50px;
    z-index: 12;
    outline: none;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
    border: 1px solid var(--border-color);
}

.banner .slick-arrow:before {
    font: normal normal normal 16px/1 FontAwesome;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: 46px;
    color: var(--heading-color);
}

.banner .slick-arrow.slick-prev {
    right: 95px;
}

.banner .slick-arrow.slick-prev:before {
    content: "\f060";
}

.banner .slick-arrow.slick-next {
    right: 25px;
}

.banner .slick-arrow.slick-next:before {
    content: "\f061";
}

.banner__slides {
    position: relative;
}

.banner__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--layer);
    z-index: 20;
}

.banner__slides .banner__slide {
    position: relative;
    min-height: 800px;
    padding-bottom: 100px;
    display: flex !important;
    align-items: center;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.banner__slides .banner__slide-bg1 {
    background: url(../img/b1.jpg);
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top;
}

.banner__slides .banner__slide-bg2 {
    background: url(../img/b2.jpg);
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top;
}

.banner__slides .banner__slide-bg3 {
    background: url(../img/b3.jpg);
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top;
}

.banner__slides .banner__slide-bg4 {
    background: url(../img/b4.jpg);
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top;
}


.slide__content {
    position: relative;
    z-index: 30;
}

.slide__title {
    max-width: 800px;
    font-size: 65px;
    margin-bottom: 18px;
    line-height: 1.1;
    font-weight: 600;
    color: #fff;
    z-index: 30;
}

.slide__text {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    max-width: 600px;
    opacity: 0.9;
    letter-spacing: 0.3px;
}

.slide__btn {
    padding: 15px 50px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;

}

.btn-primary {
    color: #fff;
    background-color: #00a63f;
    border-color: #00a63f;
}

.btn-primary:hover {
    color: #fff;
    background-color: #008030;
    border-color: #00732c;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
    color: #fff;
    background-color: #008030;
    border-color: #00732c;
    box-shadow: 0 0 0 0.2rem rgb(38 179 92 / 50%);
}

.btn-check:active+.btn-primary,
.btn-check:checked+.btn-primary,
.btn-primary.active,
.btn-primary:active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #008030;
    border-color: #00732c;
}

.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(38 179 92 / 50%);
}


.shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.shape path {
    fill: var(--bg-color);
}

.slick-list {
    min-height: 800px;
}

@media (max-width: 991px) {
    .banner__slides .banner__slide {
        min-height: 700px;
    }

    .slick-list {
        min-height: 700px;
    }

    .slide__content h1 {
        font-size: 50px;
    }
}

@media (max-width: 768px) {
    .slide__content h1 {
        font-size: 45px;
    }

    .slide__content p {
        font-size: 18px;
        line-height: 28px;
    }

    .banner__slides .banner__slide {
        min-height: 650px;
        padding-bottom: 40px;
    }

    .slick-list {
        min-height: 650px;
    }
}

@media (max-width: 480px) {
    .slide__content h1 {
        font-size: 36px;
    }

    .banner__slides .banner__slide {
        min-height: 550px;
    }

    .slick-list {
        min-height: 550px;
    }
}

.gap {
    height: 500px;
}

/* About  */
/* Features  */
/* Services  */
/* Gallery  */
/* Progress  */
.title-small {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    display: block;
}

.title-big {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
}

.progress-info {
    margin-bottom: 30px;
    text-align: left;
    position: relative;
}

.progress-tittle {
    font-size: 18px;
    color: var(--heading-color);
    margin-bottom: 10px;
    font-weight: 400;
    display: grid;
    grid-template-columns: 1fr auto;
    width: 80%;
}

.progress__item {
    display: flex;
    height: 4px;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: var(--bg-grey);
    border-radius: 0.25rem;   
}

.gradient-1 {
    color: #61fded;
    background-color: #0d8abc;
    background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}

.gradient-2 {
    color: #eece90;
    background-color: #d45529;
    background-image: linear-gradient(-224deg, #d45529, #eece90);
}

.gradient-3 {
    color: #5c51ff;
    background-color: #f646a9;
    background-image: linear-gradient(-224deg, #f646a9, #5c51ff);
}
    
.gradient-4 {
    color: #e5529a;
    background-color: #e77654;
    background-image: linear-gradient(-224deg, #e77654, #e5529a);
}

 .progress-bar::before{  
    content: "";
    height: 28px;
    width: 28px;   
    border: 1px solid;  
    opacity: .3;
}

.progress-bar::after{
    content: "";
    height: 13px;
    width: 13px;
    border: 3px solid;
    background-color: var(--bg-color);
}

.progress-bar-1::before,.progress-bar-1::after{
    position: absolute;
    right: 20%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%)
}

.progress-bar-2::before,.progress-bar-2::after{
    position: absolute;
    right: 5%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%)
}

.progress-bar-3::before,.progress-bar-3::after{
    position: absolute;
    right: 40%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%)
}

.progress-bar-4::before,.progress-bar-4::after{
    position: absolute;
    right: 15%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%)
}












/* Feedback  */
/* News  */
/* Contact  */
/* Footer  */

/* Media query */
@media (min-width: 1280px) {
    .container {
        max-width: 1200px
    }
}




